RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Allow direct access to PHP files
<FilesMatch "\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

